<div class="feed-form">
<form class="form">
  <label>
    Title:
    <input type="text" name="feed[title]" value="">
  </label>
  <br>
  <label>
    URL:
    <input type="text" name="feed[url]" value="">
  </label>
  <br>
  <input type="submit" value="Create Feed" class="create-feed">
</form>

<button class="close">Close Window</button>
<div>
