<div class="feed-form">
<form class="form">
  <label>
    Title:
    <input type="text" name="feed[title]" value="" >
  </label>
  <br>
  <label>
    URL:
    <input type="text" name="feed[url]" value="">
  </label>
  <br>
  <input type="submit" value="Create Feed" class="create-feed button">
</form>

<input type="submit" value="Close Window" class="close button">

<div>

<script type="text/javascript">
  $(function() {$('.feed-form').fadeIn(2000)})
</script>
