<div class="feed-form">
<form>
  <label>
    Title:
    <input type="text" name="feed[title]" value="">
  </label>
  <br>
  <label>
    URL:
    <input type="text" name="feed[url]" value="">
  </label>
  <br>
  <button class="create-feed">Create Feed</button>
</form>

<button class="close">Close Window</button>
<div>
